body {
    background-color: #ffffff;
}

a {
    color: blue
}

a:hover {
    color: blue
}

a:visited {
    color: blue
}

a:visited:hover {
    color: red
}

h1{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-block: 0.83em;
}
h2{
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin-block: 0.83em;
}

p {
    font-family: verdana, arial, helvetica, sans-serif;
}

.tx_highlight {
    background-color: #FFFF00;
}

/***********************************************************************************************************************************/
/* Cart Style Classes */
/***********************************************************************************************************************************/
.cart_Table{
    width:80%;
}
.cart_Header_TR{
    font-family: Verdana;
    font-weight: bold;
    font-size: 10pt;
    background-color: #ffcc66;
    padding: 10px;
}

/***********************************************************************************************************************************/
/* End Cart Style Classes */
/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/* Checkout form Style Classes */
/***********************************************************************************************************************************/

.CustomerField-label .ShipField-labe{
    width:110px !important;
}
.Customer .Ship{
    padding-left: 20px;
}


/***********************************************************************************************************************************/
/* Checkout form Style Classes */
/***********************************************************************************************************************************/



table.servicesT {
    font-family: Verdana;
    font-weight: normal;
    font-size: 10pt;
    width: 320px;
    background-color: #ffcc66;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
}


table.servicesT td.servHd {
    border-bottom: 1px solid #6699CC;
    border-top: 1px solid #6699CC;
    background-color: #BEC8D1;
    font-family: Verdana;
    font-weight: bold;
    font-size: 10pt;
}


table.servicesT td {
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 10pt;
    background-color: #ffffcc;
    /* text-align: left; */
    padding-left: 3px;
}


table.servicesT td.servBodH {
    border-top: 1px solid #6699CC;
    border-bottom: 1px solid #6699CC;
    background-color: #BEC8B1;
    /* text-align: center; */
    font-family: Verdana;
    font-weight: bold;
    font-size: 10pt;
    color: #404040;
}

table.menu a {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
}

.legal-div {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.item_sku
{
    width:15%;
}
.item_description
{
    width:55%;
}
.item_price
{
    width:10%;
}
.item_price
{
    width:10%;
}
.item_button
{
    width:10%;
}

.item_sku, .item_description, .item_price, .item_weight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.item_sku, .item_price, .item_button {
    text-align: left;
}
.item_rating, .item_currency, .item_image {
    display: none;
}

.center {
    text-align: center;
}
.hidden{
    display: none;
}