@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin change-placeholder-color($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
}
@mixin max-xll {
  @media (max-width: 1469px) {@content};
}
@mixin max-xl {
  @media (max-width: 1199px) {@content};
}
@mixin max-lg {
  @media (max-width: 991px) {@content};
}
@mixin max-md {
  @media (max-width: 767px) {@content};
}
@mixin max-sm {
  @media (max-width: 575px) {@content};
}
@mixin max-xs {
  @media (max-width: 430px) {@content};
}