/****************** OVERRIDE BOOTSTRAP VARS *****************/
/* ***************** FONTS VARS *****************/
$primary-font: 'Commissioner', sans-serif;
/* ***************** COLORS VARS *****************/
$primary-color: #0776A0;
$secondary-color: #FF8500;
$ternary-color:  #3AA6D0;
$dark-color: #226078;
$hover-color: $primary-color;
/* ***************** TRANSITION VARS *****************/
$primary-transition: .3s;
/* ***************** PATH VARS *****************/
$imgPath : '../images';
/* @~ z-indexes: Example: z-index: z('modal'); */
$z-indexes: (
        'default': 1,
        'below': -1,
);
@function z($layer) {
  @return map-get($z-indexes, $layer);
}