<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>
    <compilation defaultLanguage="vb" debug="false" />
    <customErrors mode="Off" />
    <authentication mode="Windows" /> 

    <authorization>
        <allow users="*" /> <!-- Allow all users -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

    <trace enabled="true" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=192.168.0.241:42424"
            sqlConnectionString="data source=192.168.0.241;Trusted_Connection=yes"
            cookieless="false" 
            timeout="120" 
    />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />   
  </system.web>
  
	<appSettings>

		<!-- <add key="SmtpServer" value="204.127.192.17"/> -->
		<!-- <add key="SmtpServer" value="smtp.mags.net"/> -->
		<add key="SmtpServer" value="192.168.0.241"/> 
		<!-- <add key="SmtpServer" value="74.93.19.154"/> -->
		<!-- <add key="SmtpServer" value="smtp.comcast.net"/>  -->
		<add key="pathSavedImages" value="D:\Inetpub\wwwroot\ds-sewing\www\pool\wizard\images\"/>
		<add key="pathPlotFiles" value="D:\plot_files\"/>
 		<add key="sqlConnStrNetPlot" value="server=192.168.0.241;database=netplot;user=dssewing_www_service;pwd=!g0ttal3arnt0s3w;" />
		<add key="sqlConnStrDsSewing" value="server=192.168.0.241;database=dssewing;user=dssewing_www_service;pwd=!g0ttal3arnt0s3w;" />
		<add key="sqlConnStr" value="server=192.168.0.241;database=netplot;user=dssewing_www_service;pwd=!g0ttal3arnt0s3w;" />
	</appSettings>  

</configuration>
